<section id="esports" class="esports-section">
      <div class="section-header">
        <h2>⚡ eSports & Competitivo</h2>
        <p>Lo último del mundo competitivo</p>
      </div>
      <div class="esports-grid">
        <div class="esports-card large">
          <div class="esports-image">
            <img src="../assets/img/valorant.webp" alt="Valorant Champions" />
          </div>
          <div class="esports-content">
            <h3>Valorant Champions 2025: La batalla final en París</h3>
            <p>El torneo más importante del año llega a París. 16 equipos de élite mundial compiten por la corona en el Accor Arena.</p>
            <div class="esports-meta">
              <span class="tournament-date">📅 13 Sep - 6 Oct</span>
              <span class="prize-pool">💰 $5M Premio</span>
            </div>
          </div>
        </div>
        <div class="esports-card">
          <div class="esports-image">
            <img src="../assets/img/lolwc25.jpg" alt="Lol Worlds" />
          </div>
          <div class="esports-content">
            <h3>League of Legends: Worlds 2025 China</h3>
            <p>El campeonato mundial regresa a China con 17 equipos luchando por la Copa del Invocador en Beijing, Shanghai y Chengdu.</p>
          </div>
        </div>
        <div class="esports-card">
          <div class="esports-image">
            <img src="../assets/img/cs2.jpg" alt="Valorant Champions" />
          </div>
          <div class="esports-content">
            <h3>CS2 BLAST.tv Austin Major 2025</h3>
            <p>El Major más grande de la historia con 32 equipos compitiendo por $1.25M en el Moody Center de Austin, Texas..</p>
          </div>
        </div>
      </div>
    </section>